.container{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333a;
}
.start-and-end-animation{
  animation: modal-animation 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.start-only-animation{
  animation: openModal .5s;
}
.modal-info{
  color: var(--alternative-text-color);
  font-size: 6em;
  font-family: var(--primary-font);
  text-align: center;
  padding: 0 60px;
}
@media (max-width: 900px){
  .modal-info{
    font-size: 3em;
    padding: 0 20px;
  }
}
@media (max-width: 300px) {
  .modal-info{
    padding: 0 2px;
  }
}
@keyframes openModal{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes modal-animation {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}